<main>
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="left-content">
                        <br>
                        <h4>About us</h4>
                        <p>Aenean hendrerit metus leo, quis viverra purus condimentum nec. Pellentesque a sem
                            semper, lobortis mauris non, varius urna. Quisque sodales purus eu tellus
                            fringilla.<br><br>Mauris sit amet quam congue, pulvinar urna et, congue diam.
                            Suspendisse eu lorem massa. Integer sit amet posuere tellus, id efficitur leo. In hac
                            habitasse platea dictumst. Vel sequi odit similique repudiandae ipsum iste, quidem
                            tenetur id impedit, eaque et, aliquam quod.</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cupiditate id unde quis ut
                            maxime, accusantium aperiam consectetur saepe delectus ducimus accusamus, ad doloremque
                            ea. Quam, suscipit quidem perspiciatis asperiores, libero cum saepe hic pariatur eos
                            deleniti illum minima minus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cupiditate id unde quis ut
                            maxime, accusantium aperiam consectetur saepe delectus ducimus accusamus, ad doloremque
                            ea. Quam, suscipit quidem perspiciatis asperiores, libero cum saepe hic pariatur eos
                            deleniti illum minima minus.</p>

                        <p>Aenean hendrerit metus leo, quis viverra purus condimentum nec. Pellentesque a sem
                            semper, lobortis mauris non, varius urna. Quisque sodales purus eu tellus
                            fringilla.<br><br>Mauris sit amet quam congue, pulvinar urna et, congue diam.
                            Suspendisse eu lorem massa. Integer sit amet posuere tellus, id efficitur leo. In hac
                            habitasse platea dictumst. Vel sequi odit similique repudiandae ipsum iste, quidem
                            tenetur id impedit, eaque et, aliquam quod.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="img/about-1-720x480.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
</main>